asgiref==3.8.1
babel==2.17.0
Django==5.2.1
django-address==0.2.8
django-mathfilters==1.0.0
django_money==3.5.4
django_phone_field==1.8.1
pip==25.1.1
py-moneyed==3.0
setuptools==80.8.0
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2