<!-- This template displays a list of all the Credit instances. -->

{% include "base.html" %}
{% load mathfilters %}
{% load functions %}

{% block content %}
    <main>
        {% if credit_list %}
            <ul>
                {% for credit in credit_list.all %}
                    <section class="card" style="width: 22rem;">
                        {% if credit.grade_percentage and credit.undertaking %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% if credit.track and credit.name %}
                                        <b>
                                            {{ credit.track|lower|capfirst }} <a href="../class/{{ credit.slug }}">{{ credit.slug|unslugify|title|roman_numerals }}</a>
                                        </b>
                                    {% endif %}

                                    {% if credit.subject and credit.course_number %}
                                        <i>
                                            ( {{ credit.subject }} - {{ credit.course_number }} )
                                        </i>
                                    {% endif %}
                                </li>

                                <li class="list-group-item">
                                    {% if credit.instructor %}
                                        <p>
                                            {% for instructor in credit.instructor.all %}
                                                {{ instructor }} <a href=mailto:{{instructor.email}}>{{instructor.email}}</a> <br>
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </li>

                                <li class="list-group-item">
                                    {% if credit.term == "Semester"%}
                                        For a {{ credit.term|lower }} during {{ credit.grade_level|capfirst }} year
                                    {% elif credit.term == "Summer" %}
                                        During the {{ credit.term|lower }} after {{ credit.grade_level|capfirst }} year
                                    {% elif credit.term == "Full Year" %}
                                        For {{ credit.grade_level|capfirst }} regular academic {{ credit.term|lower }}
                                    {% endif %}
                                </li>

                                <li class="list-group-item">
                                    <p>
                                        <div class="container text-center">
                                            <div class="row">
                                                <i>Grade</i>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <u>Weighted:</u>
                                                </div>
                                                <div class="col">
                                                    <u>Unweighted:</u>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <b>{{ credit.weighted_gpa }}</b>
                                                </div>
                                                <div class="col">
                                                    <b>{{ credit.unweighted_gpa }}</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <b>{{ credit.weighted_grade_equivalence }}</b>
                                                </div>
                                                <div class="col">
                                                    <b>{{ credit.unweighted_grade_equivalence }}</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <b>{{ credit.grade_percentage }}%</b>
                                            </div>
                                        </div>
                                    </p>
                                </li>
                            </ul>
                        {% endif %}
                    </section>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                No class data is available.
            </p>
        {% endif %}
    </main>
{% endblock %}

<footer>
    {% include "lower_navbar.html" %}
</footer>