{% include "base.html" %}
{% load mathfilters %}

{% block content %}
    <main>
        {% if credit_list %}
            <ul>
                {% for credit in credit_list.all %}
                    <section class="card" style="width: 22rem;">
                        {% if credit.grade_percentage %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% if credit.track and credit.name %}
                                        <b>
                                            {{ credit.track|lower|capfirst }} {{ credit.name|capfirst }}
                                        </b>
                                    {% endif %}

                                    {% if credit.subject and credit.course_number and credit.section %}
                                        <i>
                                            ( {{ credit.subject }} {{ credit.course_number }} - {{ credit.section }} )
                                        </i>
                                    {% endif %}
                                </li>

                                <li class="list-group-item">
                                    {% if credit.term and credit.grade_level %}
                                        <p>
                                            {{ credit.term }} of {{ credit.grade_level }} Year
                                        </p>
                                    {% endif %}
                                </li>

                                <li class="list-group-item">
                                    <p>
                                        Class GPA: {{ credit.class_gpa }}
    <!--                                        Grade Equivalence: {{ credit.grade_equivalence }}-->
                                    </p>
                                </li>
                            </ul>
                        {% endif %}
                    </section>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                No class data is available.
            </p>
        {% endif %}

        <li class="list-group-item">
            {% if credit.term == "Semester"%}
                For a {{ credit.term|lower }} during {{ credit.grade_level|capfirst }} year
            {% elif credit.term == "Summer" %}
                During the {{ credit.term|lower }} after {{ credit.grade_level|capfirst }} year
            {% elif credit.term == "Year" %}
                For {{ credit.grade_level|capfirst }} regular academic {{ credit.term|lower }}
            {% endif %}
        </li>
    </main>
{% endblock %}

<footer>
    {% include "lower_navbar.html" %}
</footer>