{% include "base.html" %}
{% load mathfilters %}

{% block content %}
{% if credit_list %}
{% for credit in credit_list.all %}
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>
                {{ credit.track }} {{ credit.name|capfirst }}
            </b>
        </li>
        <li class="list-group-item">
            <i>
                {{ credit.subject|title|linebreaks }}
            </i>
        </li>
        <li class="list-group-item">
            {% if credit.letter_grade %}
            <p>
                Class GPA: {{ credit.class_gpa }}
            </p>
            {% endif %}
        </li>
        <li class="list-group-item">
            {% if instructor_list %}
            {% for instructor in instructor_list.all %}
            <h2>
                {{ instructor.first_name|capfirst }} {{ instructor.last_name|capfirst}}
            </h2>
            {% empty %}
            <p>
                Instructor not yet recorded
            </p>
            {% endfor %}
            {% endif %}
        </li>
        <li class="list-group-item">
            {% if credit.term == "Semester"%}
            For a {{ credit.term|lower }} during {{ credit.grade_level|capfirst }} year
            {% elif credit.term == "Summer" %}
            During the {{ credit.term|lower }} after {{ credit.grade_level|capfirst }} year
            {% elif credit.term == "Year" %}
            For {{ credit.grade_level|capfirst }} regular academic {{ credit.term|lower }}
            {% endif %}
        </li>
    </ul>
</div>
{% empty %}
<h1>No class data is available.</h1>
{% endfor %}
{% else %}
<h1>Class data is currently unavailable.</h1>
{% endif %}
{% endblock %}

<footer>
    {% include "lower_navbar.html" %}
</footer>