<!-- This template displays a list of all the Instructor instances. -->

{% include "base.html" %}

{% block content %}
    <li class="list-group-item">
        {% if instructor_list %}
            {% for instructor in instructor_list.all %}
                <p>
                    <a href="https://www.trinityrocks.com/staff?search={{ instructor.last_name }}" target="_blank">
                        {{ instructor.first_name|capfirst }} {{ instructor.last_name|capfirst}}
                    </a>
                    <br />
                    <a href=mailto:%22{{instructor.first_name}}%20{{instructor.last_name}}%22%3c{{instructor.email}}%3e>{{ instructor.email }}</a>
                    {{ instructor.phone }}
                </p>
            {% empty %}
                <p>
                    Instructor not yet recorded
                </p>
            {% endfor %}
        {% endif %}
    </li>
{% endblock %}