<!-- This template displays a list of all the Institution instances. -->

{% include "base.html" %}
{% load mathfilters %}

{% block content %}
    {% if school_list %}
        <ul>
            {% for school in school_list.all %}
                <li>
                    <h5><a href="{{ school.website }}">{{ school.name }}</a></h5>
                    {% if school.accepted == True %}
                        <h1>ACCEPTED!</h1>
                        <p>Net Cost: {{ school.next_year_full_tuition|sub:school.financial_aid_awarded }}</p>
                    {% else %}
                        {% if school.application_requested == False %}
                            <b>Contact {{ school.name|capfirst }} for application</b>
                        {% elif school.application_submitted == False %}
                            <p>Submit {{ school.name|capfirst }}'s Application</p>
                        {% endif %}

                        {% if school.teacher_recommendations_requested == False %}
                            <p>Request Teacher Recommendations</p>
                        {% elif school.teacher_recommendations_submitted == False %}
                            <p>Teacher Recommendations Requested</p>
                        {% endif %}

                        {% if school.toured == False %}
                            <p>Visit {{ school.name|capfirst }}</p>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No schools are available.</p>
    {% endif %}
{% endblock %}

<footer>
    {% include "lower_navbar.html" %}
</footer>