{% extends "website/index.html" %}

{% block body %}
    <body>
        <div id="attorney">
            <h1>
                {{ attorney.first_name }} {{ attorney.last_name }}
            </h1>
            <h5>
                Direct Line: {{ attorney.phone_number }}
            </h5>
            <br>
            <h4>
                Graduated with {{attorney.degree }} from {{ attorney.academic_institution_details }} in {{ attorney.graduation_year }}
            </h4>
            <p>
                {{ get_news_search_results }}
            </p>
        </div>
    </body>
{% endblock body %}