{% include "base.html" %}

{% block content %}
    <main>
        {% if user_list %}
            {% for user in user_list.all %}
                {% if user.is_active %}
                    <h1> {{ user.last_name }}, {{ user.first_name }} </h1>
                    <h2> {{ user.phone_number }} </h2>

                    <p> {{ phone.make }} {{ phone.model }} </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>
                Can't pull records at this time
            </p>
        {% endif %}
    </main>
{% endblock %}